﻿
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/User/Index.cshtml";
}

<h2>Import Excel</h2>
@if (TempData["ImportSuccess"] != null)
{
    <p class="alert alert-success">
        @TempData["ImportSuccess"]
    </p>
}
@using (Html.BeginForm("Index", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }) )
{
    <form action="" method="post">
        <label for="file"> Upload file</label>
        <input type="file" name="file" id="file" />

        <br />
        <input class="btn btn-info" type="submit" value=" Import excel" />
    </form>

}
@if (@ViewBag.ImportNofication != null)
{
    <p class="nofication-danger">
        @ViewBag.ImportNofication
    </p>
}
@if (TempData["KhongLoi"] != null)
{
<p>
    Import Details Error: <a href="ImportExcel/Download?file=ErrorTMP.xls" target="_blank">Download</a>
</p>
   
}
else
{
    <a hidden href="ImportExcel/Download?file=ErrorTMP.xls" target="_blank">Download</a>
}

