﻿
@{
    ViewData["Title"] = "CreateUser";
    //if (ViewBag.Session == null)
    //{
    //    Response.Redirect("~/Login/Index");
    //}
}
@model QL_USERNetCore.Models.User
<h1>
    This's Add User page!
</h1>
<section>
    <div class="container">

        <form action="" method="post">
            <div>
                Code: @Html.TextBoxFor(model => model.Code, new { @class = "form-control", id = "code", placeholder = "UserName", autofocus = "autofocus" })
            </div>

            <div>
                Name: @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "name", placeholder = "Name" })
            </div>
            <div>
                Password: @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password", placeholder = "Password" })
            </div>
            <br />
            <div id="Message">
                @if (TempData["CreateUser"] != null)
                {
                    <p class="nofication-success" id="essage">@TempData["CreateUser"] </p>
                }

                @if (TempData["CreateUserError"] != null)
                {
                    <p class="nofication-danger" id="CreateUserError">@TempData["CreateUserError"] </p>
                }
                <input class="btn btn-success" type="submit" name="name" onclick="Validated()" value="ADD" />
            </div>
        </form>
    </div>
</section>


