﻿
@{
    ViewData["Title"] = "DeleteUser";
    //Layout = "~/Views/User/Index.cshtml";
}
@model QL_USERNetCore.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Delete User</title>
    <meta name="viewport" content="width-device-width" />
</head>
<body>

    <form action="" method="post">
        @if (ViewBag.DeleteUser != null)
        {
            <p class="alert alert-success">
                @ViewBag.DeleteUser
            </p>
        }
        @if (ViewBag.DeleteUsreErro != null)
        {
            <p class="alert alert-danger">
                @ViewBag.DeleteUsreErro
            </p>
        }

        <div class="idUser">
            ID: @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @readonly = "true" })
        </div>
        <br />
        <div class="form-group">
            <input class="btn btn-success" type="submit" name="name" value="Delete" />
        </div>
    </form>

</body>
</html>

