﻿
@{
    ViewData["Title"] = "EditUser";
    //Layout = "~/Views/User/Index.cshtml";
}
@model QL_USERNetCore.Models.User
<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <meta name="viewport" content="width-device-width" />
</head>
<body>

    <form action="" method="post">
        @if (TempData["EditMessage"] != null)
        {
            <p class="nofication-success">
                @TempData["EditMessage"]
            </p>
        }
        @if (TempData["EditMessageEr"] != null)
        {
            <p class="nofication-danger">@TempData["EditMessageEr"]</p>
        }
        <div class="idUser">
            ID: @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @readonly = "true" })
        </div>
        <div>
            Code: @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "true" })
        </div>
        <div>
            Name: @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div>
            Password: @Html.TextBoxFor(model => model.Password, new { @class = "form-control",id="pass",@type = "password" })
        </div>

        </br>
        <div>
            <input class="btn btn-success" type="submit" name="name" value="EDIT"  />
        </div>
    </form>
</body>
</html>

