﻿
@{
    ViewData["Title"] = "Index";
}
@model X.PagedList.IPagedList<QL_USERNetCore.Models.User>

@using X.PagedList.Mvc.Core;

@using X.PagedList;

<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Password</th>
        <th>InsertUserID</th>
        <th>InsertDate</th>
        <th>LastEditUser</th>
        <th>LastEditDate</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td class="hidetext">@item.Password</td>
            <td>@item.InsertUserId</td>
            <td>@item.InsertDate</td>
            <td>@item.LastEditUser</td>
            <td>@item.LastEditDate</td>
            <td class="btn-default">
                <lable class=" glyphicon glyphicon-edit ">
                    @Html.ActionLink("Edit", "EditUser", new { idUser = item.Id })
                </lable>
                <lable class="glyphicon glyphicon-trash">
                    @Html.ActionLink("Delete", "DeleteUser", new { idUser = item.Id })
                </lable>
            </td>
        </tr>
    }
</table>
<div class="form-grteoup">
    <button class="btn btn-success ">
        <a href="ImportExcel/Download?file=UserDetail.xlsx" target="_blank">Download</a>
    </button>
</div>
<div>
        <br />
        Page (@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount)
        <ul class="pagination">
            <li class="page-item">
                @Html.PagedListPager(Model, page => Url.Action("Index",new { page }))
                </li>

            </ul>
</div>
