﻿
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/User/Index.cshtml";
}

@model QL_USERNetCore.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width-device-width" />
</head>
<body class="container-login">
    @Html.AntiForgeryToken()

    <div class="login-box">
        @using (Html.BeginForm("Autherise", "Login", FormMethod.Post,new { enctype = "multipart/form-data" }))
        {
            <div class="login-div">
                <br />
                <div>
                    <img class="img-circle" src="~/image/loginicon.jpg" />
                </div>

                <div>
                    <h2 class="text-capitalize">LOGIN PAGE</h2>
                </div>
                <br />
                <div >
                    <div>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", id = "user", placeholder = "UserName", autofocus = "autofocus" } })

                    </div>
                    <br />
                    <div>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password", placeholder = "Password" })

                    </div>
                    <br />

                    <div class="nofication">
                        @if (ViewBag.LoginMessage != null)
                        {
                            <p class="nofication">@ViewBag.LoginMessage</p>

                        }
                        @if (ViewBag.LogOutMassage != null)
                        {
                            <p class="nofication">@ViewBag.LogOutMassage</p>
                        }
                    </div>

                    <div>
                        <input class="btn btn-success" type="submit" name="name" value="LOGIN" @*onclick="Vali_Login()"*@ />
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>

