﻿
.sign-into {
    font-size: 25px;
    font-family: Arial;
}

.btn-success {
    width: 300px;
    font-family: Consolas;
}

div.hello {
    font-family: 'Comic Sans MS';
    font-style: oblique;
}

.hidetext {
    -webkit-text-security: circle;
}




div.main-content {
    margin: 2em auto;
}

.header-form {
    text-align: center;
    font-style: initial;
}

.container {
  
}



.nofication-danger {
    color: red;
    font-style: italic;
}

.nofication-success {
    color: green;
    font-style: italic;
}
.text-capitalize {
    font-weight: bold;
    margin-left: 9%;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: white;
        }*/
/*
th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: cornflowerblue;
}*/

/*th {
    background-color: #4CAF50;
}*/

.footer {
    text-align: right;
    color: red;
}

.login-box {
    position: relative;
    margin: 10% auto;
    width: 600px;
    height: 400px;
    background: #99f5de;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.login-div {
    margin-left: 27%;
    margin-top: 20%;
    top: 10%;
}

.img-circle {
    width: 100px;
    height: 100px;
    margin-left: 20%;
    border-radius: 50%;
}

.glyphicon {
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
   /* border: 1px solid #ddd;*/
}

th, td {
    text-align: left;
    padding: 8px;
}
.session{
    color:white;
    text-align:center;
}

.form-control {
    width:71%;
}