﻿
@{
    ViewData["Title"] = "Index";
    @*@if(ViewBag.Session == null)
    {
        Respon("~/Login/Index");
    }*@
    //Layout = "~/Views/User/Index.cshtml";
}


@*@model List<QL_USER.Models.HistoryLogin>*@

@model X.PagedList.IPagedList<QL_USERNetCore.Models.HistoryLogin>
@using X.PagedList.Mvc.Core;

@using X.PagedList;

@using X.PagedList.Mvc.Core.Fluent

@using QL_USERNetCore.Models

<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>LoginDate</th>
        <th>LogOutDate</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Code</td>
            <td>@item.LoginDate</td>
            <td>@item.LogoutDate</td>
        </tr>
    }
</table>
<div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount)
    <ul class="pagination">
        <li class="page-item">
            @Html.PagedListPager(Model, page => Url.Action("Index",
new { page }))
        </li>

    </ul>
</div>